@model IEnumerable<PageVM>
@{
    ViewData["Title"] = "List";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Page List</h4>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Slug</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                           {
                               <tr>
                                   <td>@item.Id</td>
                                   <td>@item.Title</td>
                                   <td>@item.Content</td>
                                   <td>@item.Slug</td>
                                   <td>@item.Status</td>
                                   @if(item.Slug != "ana-sayfa")
                                    {
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm float-right">Edit</a>
                                        </td>
                                           <td>
                                            <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm float-left confirmDeletion">Remove</a>
                                        </td>
                                    }
                                </tr>
                           }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="Create" class="btn btn-outline-dark btn-block">Create New Page</a>
            </div>
        </div>
    </div>
</div>

